
body{
  min-height: 100%;
  background-color: darkslategrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.controls{
  background-color: honeydew;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  padding: 5px;
}

#grid{
  justify-self: center;
  background-color: honeydew;
  width: 490px;
  height: 490px;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  padding: 5px;
}

.square{
  background-color: crimson;
}
